@media only screen and (min-width:700px)
{
	body{
		font-family:Verdana, Geneva, Tahoma, sans-serif;
		background-image: linear-gradient(rgb(60, 60, 66), grey);
	}
	.title{
		display:flex;
		top: 0;
		left:0;
		position: sticky;
		background-color: white;
		text-align: left;
		color: rgb(57, 107, 255);
		margin-bottom: 10px;
		padding-left: 10px;
	}
	.introduction{
		display: flex;
		flex-direction: column;
		
		background-color: white;
		height: 80%;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		padding: 10px;
	}
	#wrap{
		text-align: left;
	}
	img{
		margin-left:auto;
		margin-right:auto;
		width: 100%;
	}
	.concert{
		background-color: white;
		margin-top: 10px;
		margin-bottom: 10px;
		padding: 10px;
		transition: 2s;
		width:80%;
		height:80%;
		display:flex;
		flex-direction: column;
		margin-left: auto;
		margin-right: auto;
	}
	.concert:hover{
		background-color: rgb(135, 165, 255);
	}
	#details{
		display: flex;
		flex-direction: row;
		
	}
	ul {
		list-style-type: none;
		margin-left: 0;
		padding:0;
		margin-right:40px;
	}
	u{
		text-decoration-color: rgb(57, 107, 255);
		text-decoration-thickness: 2px;
	}
}
@media only screen and (max-width: 700px)
{
	body{
		font-family:Verdana, Geneva, Tahoma, sans-serif;
		background-image: linear-gradient(rgb(60, 60, 66), grey);
	}
	.title{
		display:flex;
		top: 0;
		left:0;
		position: sticky;
		background-color: white;
		text-align: left;
		color: rgb(57, 107, 255);
		margin-bottom: 10px;
		padding-left: 10px;
	}
	.introduction{
		display: flex;
		flex-direction: column;
		background-color: white;
		height: 80%;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		padding: 10px;
	}
	#wrap{
		text-align: left;
	}
	img{
		margin-left:auto;
		margin-right:auto;
		width: 100%;
	}
	.concert{
		background-color: white;
		margin-top: 10px;
		margin-bottom: 10px;
		padding: 10px;
		transition: 2s;
		width:80%;
		height:80%;
		display:flex;
		flex-direction: column;
		margin-left: auto;
		margin-right: auto;
	}
	.concert:hover{
		background-color: rgb(135, 165, 255);
	}
	#details{
		display: flex;
		flex-direction: column;
	}
	ul {
		list-style-type: none;
		margin-left: 0;
		padding:0;
	}
}
